/* gloabl css */

#nprogress .bar {
    background: rgb(190, 34, 221) !important;
    height: 4px !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px rgb(190, 34, 221), 0 0 5px rgb(190, 34, 221) !important;
}
#nprogress .spinner {
    display: none !important;
   /*right: 4px !important;*/
}
